.container {
    text-align: center;
    margin-top: 30px;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .specialization-table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 60%;
  }
  
  .specialization-table th, .specialization-table td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
  }
  
  .specialization-table th {
    background-color: black;
    color: #fff;
    text-align: center;
  }
  
  .view-btn {
    background-color: gray;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }

  .view-btn:hover {
    background-color: black;
    color: white;
  }

  